button.btn {
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.5vw;
  height: 3vw;
  padding: 1.5rem;
  gap: 1.5rem;

  position: fixed;
  bottom: clamp(1vh, 2vh, 3rem);

}