.title__container {
    position: relative;
}


.title__text {
    background: linear-gradient(180deg, #FFF 0%, #333 206.94%);

    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.5rem;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}