.soonPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer {
    padding: 10vh;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
