#root {
    background: radial-gradient(61.89% 61.89% at 50% 107.39%, #1A1A1A 0%, #202020 100%);
}

.coming-soon-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}